<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/modernizr.js"></script>
		<script src="/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Apex Charts -->
		<script src="/assets/vendor/apex/apexcharts.min.js"></script>
		<script src="/assets/vendor/apex/custom/ecommerce/orders-visits.js"></script>
		<script src="/assets/vendor/apex/custom/ecommerce/visitors.js"></script>
		<script src="/assets/vendor/apex/custom/ecommerce/customers.js"></script>

		<!-- jQcloud Keywords -->
		<script src="/assets/vendor/tagsCloud/tagsCloud.js"></script>

		<!-- Vector Maps -->
		<script src="/assets/vendor/jvectormap/jquery-jvectormap-2.0.5.min.js"></script>
		<script src="/assets/vendor/jvectormap/world-mill-en.js"></script>
		<script src="/assets/vendor/jvectormap/gdp-data.js"></script>
		<script src="/assets/vendor/jvectormap/custom/world-map-markers2.js"></script>

		<!-- Main Js Required -->
		<script src="/assets/js/main.js"></script>

	</body>

</html>