    <style>
        .sidebar-menu a{
            color: #fff;
        }  
    </style>
    <script>
    $(document).ready(function() {
        const currentPath = window.location.pathname;
    
        $('.sidebar-menu a').each(function() {
            if ($(this).attr('href') === currentPath) {
                $(this).closest('li').addClass('active');
            }
        });
    });
</script>
<nav class="sidebar-wrapper">

    <!-- Sidebar brand starts -->
    <div class="sidebar-brand">
        <a href="/admin" class="logo">
            <img src="/assets/images/logo.svg" alt="Moonlight Admin Dashboard" />
        </a>
    </div>
    <!-- Sidebar brand starts -->

    <!-- Sidebar menu starts -->
    <div class="sidebar-menu">
        <div class="sidebarMenuScroll">
            <ul>
                <% if (dashboard) { %>
                    <input type="hidden">
                    <% } %>

                <li >
                    <a href="/admin" >
                        <i class="bi bi-house"></i>
                        <span class="menu-text">Dashboards</span>
                    </a>
                 
                </li>

                <li>
                    <a href="/admin/users">
                        <i class="bi bi-handbag"></i>
                        <span class="menu-text">Users</span>
                    </a>
                   
                </li>
                <li>
                    <a href="/admin/category-management">
                        <i class="bi bi-gem"></i>
                        <span class="menu-text">Category Management</span>
                    </a>
                   
                </li>
                <li>
                    <a href="/admin/product-management">
                        <i class="bi bi-collection"></i>
                        <span class="menu-text">Products</span>
                    </a>
                   
                </li>
             <li>
                    <a href="/admin/coupon-management">
                        <i class="bi bi-stickies"></i>
                        <span class="menu-text">Coupon Management</span>
                    </a>
                 
                </li>
               <li>
                    <a href="/admin/banner-management">
                        <i class="bi bi-calendar4"></i>
                        <span class="menu-text">Banners</span>
                    </a>
                    
                </li>
               <li>
                    <a href="/admin/order-management">
                        <i class="bi bi-columns-gap"></i>
                        <span class="menu-text">Orders</span>
                    </a>
                    
                </li>
                 <!--  <li>
                    <a href="#">
                        <i class="bi bi-window-split"></i>
                        <span class="menu-text">Tables</span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-pie-chart"></i>
                        <span class="menu-text">Graphs &amp; Maps</span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-layout-sidebar"></i>
                        <span class="menu-text">Layouts</span>
                    </a>
                  
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-x-diamond"></i>
                        <span class="menu-text">Authentication</span>
                    </a>
                   
                </li>
                <li>
                    <a href="starter-page.html">
                        <i class="bi bi-hand-index-thumb"></i>
                        <span class="menu-text">Link</span>
                    </a>
                </li> --->
              
            </ul>
        </div>
    </div>
    <!-- Sidebar menu ends -->

</nav>


