<%- include('userSidePartials/UserHeader') %>
<!-- Include Toastify library -->


<%- include('userSidePartials/UserMobileHeader') %>




<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> SetNewPassword
            </div>
        </div>
    </div>
    <section class="pt-50 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">



                        <div class="col-lg-5 m-auto">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Forgot Password</h3>
                                    </div>
                                   <form id="ResetPasswordForm">
                                    <input type="hidden" id="token" name="token" value="<%= Token %>">
                                            <div class="form-group">
                                                <input type="password" required="" id="Password" name="newPassword" placeholder="Set New Password">
                                                <span class="text-danger" id="passworderrorMessage"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" required="" id="ConfirmPassword" name="confirmnewPassword" placeholder="Confirm your Password">
                                                <span class="text-danger" id="confirmpassworderrorMessage"></span>
                                            </div>
                                          
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit</button>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                        

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    const passwordForm =  document.getElementById('ResetPasswordForm');
    passwordForm.addEventListener("submit",async (e) => {
        const formData= new FormData(passwordForm);
        e.preventDefault();
               console.log({formData});
        const password = document.getElementById('Password')
        const passworderrorMessage = document.getElementById('passworderrorMessage');
        passworderrorMessage.textContent='';
        const ConfirmPassword = document.getElementById('ConfirmPassword');
        const token = document.getElementById('token').value
        const confirmpassworderrorMessage = document.getElementById('confirmpassworderrorMessage');
        confirmpassworderrorMessage.textContent=''

        if(password.value <6){
            passworderrorMessage.textContent='Please enter a valid password and atleast 6 characters';
            return false;
        }
        if(password.value!==ConfirmPassword.value){
            confirmpassworderrorMessage.textContent ='Confirm password and Password Must be Same';
            return false;
        }
        console.log(passwordForm)
        let Data = {
            token:token,
            newPassword:password.value,
            confirmnewPassword:ConfirmPassword.value
        }
        console.log(Data);
        try {
             fetch('/reset-password', {
              method: 'POST',
              body: JSON.stringify(Data),
                 headers:{'Content-Type':'application/json'}
            }).then((response) => {
                if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Password Reset Successfully.',
                    }).then(() => {
                        // Redirect the user after they click "OK" in the success message
                        location.href = "/login";
                    });
                } else {
                    // Handle non-successful responses (e.g., server errors)
                    throw new Error('An error occurred');
                }
        })
    }
           catch (err) {
            console.error(err);
            Swal.fire({
                icon: 'error',
                title: 'An error Occured please try again later',
                showConfirmButton: false,
                timer: 3000, // Display for 3 seconds
                position: 'bottom',
                backgroundColor: 'red',
                // Change the background color
              });
          }
    })
</script>


<%- include('userSidePartials/UserFooter') %>